<!DOCTYPE html>
<html data-theme="light" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--    <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>-->
    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>-->
    <!--    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">-->

    <!--    <script src="/resource/common/common.js"></script>-->
    <link href="/resource/common/common.css" rel="stylesheet">
    <!--    <script th:inline="javascript">-->
    <!--        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)-->
    <!--        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');-->
    <!--    </script>-->
</head>

<body class="min-h-screen w-screen flex flex-col">
<div class="btm-nav pb-0">
    <button id="projectBtn" onclick="activateButton('projectBtn')">
        <i class="fa-solid fa-diagram-project"></i>
    </button>
    <button id="homeBtn" class="active" onclick="activateButton('homeBtn')">
        <i class="fa-solid fa-house"></i>
    </button>
    <button id="userBtn" onclick="activateButton('userBtn')">
        <i class="fa-solid fa-user"></i>
    </button>
</div>
<div class="min-h-fit grow">
    <main layout:fragment="main"></main>
</div>

<script>
    function activateButton(id) {
        // 모든 버튼의 active 클래스를 제거
        document.getElementById('projectBtn').classList.remove('active');
        document.getElementById('homeBtn').classList.remove('active');
        document.getElementById('userBtn').classList.remove('active');

        // 클릭된 버튼에 active 클래스를 추가
        document.getElementById(id).classList.add('active');
    }

</script>
</body>

</html>