<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>경기 결과</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 mb-20 min-h-screen">
        <p class="text-xl font-black mt-10 text-center">경기 결과</p>
        <div class="flex w-full">
            <div class="card w-full bg-base-100 shadow-xl mt-5 mr-2">
                <div class="card-body text-center">
                    <figure class="px-10 pt-10">
                        <img src="/images/mvp.png" class="rounded-xl"/>
                    </figure>
                    <h3 class="card-title">MVP</h3>
                    <br>
                    <div th:each="mvp : ${MVPs}">
                        <span class="fs-5" th:text="${mvp.getMember().getUsername()}"></span>
                        <br>
                        <span class="fs-5" th:text="${mvp.votedCount} + 표"></span>
                    </div>
                </div>
            </div>
            <div class="card w-full bg-base-100 shadow-xl mt-5 ml-2">
                <figure class="px-10 pt-10">
                    <img src="/images/field.png" class="rounded-xl"/>
                </figure>
                <div class="card-body text-center">
                    <h3 class="card-title">경기 구장</h3>
                    <br>
                    <span class="fs-5" th:text="${match.getField().getFieldName()}"></span>
                    <span class="fs-5" th:text="${match.getField().getFieldLocation()}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>