<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>매칭 완료</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 mb-20 min-h-screen">
        <p class="text-xl font-black mt-10 text-center">풋살 경기 진행 후 투표로 MVP를 선정해주세요</p>
        <div class="card w-full bg-base-100 shadow-xl mb-5">
            <div class="card-body items-center text-center">
                <br>
                <p class="card-title" th:text="${match.getField().getFieldName()}"></p>
                <p class="card-title" th:text="${match.getMatchDate()}"></p>
                <p class="card-title" th:text="${match.getUsageTimeToHour() + '타임 경기'}"></p>
            </div>
        </div>
        <div class="card w-full bg-base-100 shadow-xl mt-5">
            <div class="card-body text-center">
                <div class="overflow-x-auto">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>1팀</th>
                            <th>2팀</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div th:each="matchMember : ${matchMembers}" th:if="${matchMember.getTeam()==1}">
                                    <div class="result-id" th:text=" ${matchMember.getMember().getNickname()}"></div>
                                </div>
                            </td>
                            <td>
                                <div th:each="matchMember : ${matchMembers}" th:if="${matchMember.getTeam()==2}">
                                    <div class="result-id" th:text=" ${matchMember.getMember().getNickname()}"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form th:action="@{'/match/vote/' + ${match.getId()}}" method="get">
                    <button class="btn btn-outline btn-success w-full" id="voteBtn">투표하기
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>