<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>MVP 투표</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script>
        $(document).ready(function () {
            $(".submit-button").click(function () {
                // 선택된 체크박스와 드롭다운의 값을 추출
                var selectedValues = [];
                var checkboxes = $(".checkbox:checked");
                checkboxes.each(function () {
                    var checkboxId = $(this).attr("id");
                    var dropdownId = "dropdown" + checkboxId.substring(8); // 체크박스의 id에서 "checkbox"를 제외한 부분
                    var dropdownValue = $("#" + dropdownId).val();
                    var selectedValue = {checkboxId: checkboxId, dropdownValue: dropdownValue};
                    selectedValues.push(selectedValue);
                });
                // 추출된 값 확인
                console.log(selectedValues);

                // 서버로 전송 또는 추가 동작 수행
            });
        });
        function checkboxChanged(checkbox) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var dropdowns = document.querySelectorAll('select');

            if (checkbox.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] != checkbox) {
                        checkboxes[i].disabled = true;
                        dropdowns[i].disabled = true;
                    }
                }
            } else {
                for (var j = 0; j < checkboxes.length; j++) {
                    checkboxes[j].disabled = false;
                    dropdowns[j].disabled = false;
                }
            }
        }

        function checkVoteForm(form) {
            const $checked = $('.checkbox-type-1:checked');

            if ($checked.length == 0) {
                toastWarning('한 명을 선택해주세요.');
                return;
            }

            form.toVote.value = $checked.val();
            form.voteTypeCode.value = $checked.find(' ~ select').val();

            form.submit();
        }
    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 mb-20 min-h-screen">
        <p class="text-xl font-black mt-10 text-center">MVP 선정 투표</p>
        <!--    <h1 class="card-title">MVP 선정 투표</h1>-->
        <div class="card w-full bg-base-100 shadow-xl mb-5">
            <div class="card-body items-center text-center">
                <br>
                <p class="card-title" th:text="${match.getField().getFieldName()}"></p>
                <p class="card-title" th:text="${match.getMatchDate()}"></p>
                <p class="card-title" th:text="${match.getUsageTime() + '타임 경기'}"></p>
            </div>
        </div>
        <div class="card w-full bg-base-100 shadow-xl mb-5">
            <div class="card-body items-center text-center">
                <h3 class="card-title">오늘의 MVP를 선정해주세요! &#128077;</h3>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>1팀</th>
                        <th>2팀</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>
                            <div class="d-flex">
                                <div class="card">
                                    <div class="card-body flex-column"
                                         style="align-items: center; justify-content: space-around">
                                        <div class="result-row">
                                            <div class="result-team"></div>
                                        </div>
                                        <div th:each="matchMember : ${matchMembers}"
                                             th:if="${matchMember.getTeam()==1}">
                                            <div class="result-row">
                                                <div class="flex mt-3">
                                                    <input type="checkbox" th:value="${matchMember.getId()}"
                                                           th:name="'checkbox' + ${matchMember.getId()}"
                                                           th:id="'checkbox' + ${matchMember.getId()}"
                                                           class="checkbox checkbox-type-1 mr-2"
                                                           onchange="checkboxChanged(this)">
                                                    <div class="result-id"
                                                         th:text=" ${matchMember.getMember().getUsername()}"></div>
                                                    <label th:for="'dropdown' + ${matchMember.getId()}"></label>
                                                    <select th:name="'dropdown' + ${matchMember.getId()}"
                                                            th:id="'dropdown' + ${matchMember.getId()}"
                                                            class="dropdown dropdown-type-1">
                                                        <option name="voteTypeCode" value="1">드리블</option>
                                                        <option name="voteTypeCode" value="2">패스</option>
                                                        <option name="voteTypeCode" value="3">슈팅</option>
                                                        <option name="voteTypeCode" value="4">스피드</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="card">
                                    <div class="card-body flex-column"
                                         style="align-items: center; justify-content: space-around">
                                        <div class="result-row">
                                            <div class="result-team"></div>
                                        </div>
                                        <div th:each="matchMember : ${matchMembers}"
                                             th:if="${matchMember.getTeam()==2}">
                                            <div class="result-row">
                                                <div class="flex mt-3">
                                                    <input type="checkbox" th:value="${matchMember.getId()}"
                                                           th:name="'checkbox' + ${matchMember.getId()}"
                                                           th:id="'checkbox' + ${matchMember.getId()}"
                                                           class="checkbox checkbox-type-1 mr-2"
                                                           onchange="checkboxChanged(this)">
                                                    <div class="result-id"
                                                         th:text=" ${matchMember.getMember().getUsername()}"></div>
                                                    <label th:for="'dropdown' + ${matchMember.getId()}"></label>
                                                    <select th:name="'dropdown' + ${matchMember.getId()}"
                                                            th:id="'dropdown' + ${matchMember.getId()}"
                                                            class="dropdown dropdown-type-1">
                                                        <option name="voteTypeCode" value="1">드리블</option>
                                                        <option name="voteTypeCode" value="2">패스</option>
                                                        <option name="voteTypeCode" value="3">슈팅</option>
                                                        <option name="voteTypeCode" value="4">스피드</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </tr>
                    </tbody>
                </table>
                <form method="post" onsubmit="checkVoteForm(this); return false;"
                      th:action="@{'/match/vote/' + ${match.getId()}}">
                    <input type="hidden" name="toVote">
                    <input type="hidden" name="voteTypeCode">
                    <button class="btn btn-outline btn-success w-full">투표 하기</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
