<!DOCTYPE html>
<html layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 mb-20">
        <div class="border-gray-600 rounded-3xl">
            <div class="px-4 py-2">
                <div class="flex justify-between items-center mt-5">
                    <div class="text-2xl font-bold">내 정보</div>
                    <a onclick="location.href='/member/modifyForm'"
                       class="link py-2 px-4 rounded transition-colors duration-300">
                        수정하기
                    </a>
                </div>
            </div>
            <div class="card w-full bg-base-100 shadow-xl">
                <div class="card-body items-center text-center">
                    <div class="avatar placeholder">
                        <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
                            <span th:text="${myInformation.getNickname().substring(0,1)}" class="text-3xl"></span>
                        </div>
                    </div>
                    <h2 th:text="${myInformation.getNickname()}" class="card-title"></h2>
                    <p th:text="${myInformation.getUsername()}"></p>
                </div>
            </div>
            <div class="px-4 py-4 flex-row content-around">
                <div class="flex py-4 items-center">
                    <i class="fa-regular fa-calendar fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">가입날짜:</div>
                    <div th:text="${myInformation.getCreatedDate()}"></div>
                </div>

                <div class="flex py-4 items-center">
                    <i class="fa-solid fa-user-large fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">회원 유형:</div>
                    <div th:text="${myInformation.getAuthorities()}"></div>
                </div>

                <div class="flex py-4 items-center">
                    <i class="fa-regular fa-envelope fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">이메일:</div>
                    <div th:text="${myInformation.getEmail()}"></div>
                </div>

                <div class="flex py-4 items-center">
                    <i class="fa-solid fa-phone fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">전화번호:</div>
                    <div th:text="${myInformation.getPhone()}"></div>
                </div>

                <div class="flex py-4 items-center">
                    <i class="fa-solid fa-earth-americas fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">지역:</div>
                    <div th:text="|${myInformation.getBigDistrict()}  ${myInformation.getSmallDistrict()}|"></div>
                </div>

                <div class="flex py-4 items-center border-b border-gray-500">
                    <i class="fa-solid fa-crown fa-lg mr-2 -translate-y-0.5"></i>
                    <div class="font-semibold text-md mr-2">티어:</div>
                    <div th:text="${myInformation.getTier()}"></div>
                </div>
                <div>
                    <p class="text-xl font-bold my-3">경기 기록</p>
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <div class="font-semibold text-md">승률:</div>
                            <div th:text="${myInformation.getWinningRate()}"></div>
                        </div>
                    </div>
                </div>
                <progress class="progress w-full" th:value="${myInformation.getWinningRate()}" max="100"></progress>
                <button th:if="${myInformation.getAuthorities().contains('MANAGE') || myInformation.getAuthorities().contains('ADMIN')}"
                        onclick="location.href='/field'" class="btn btn-outline btn-success text-base-100 w-full mt-4">
                    구장 관리
                </button>
                <button th:if="${myInformation.getAuthorities().contains('ADMIN')}"
                        onclick="location.href='/adm'" class="btn btn-outline btn-success text-base-100 w-full mt-4">관리자
                </button>
                <button onclick="location.href='/logout'" class="btn btn-outline btn-success text-base-100 w-full my-4">
                    로그아웃
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>