<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>구장 등록</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function Validation__createField(form) {
            form.name = document.getElementById("name").value;

            if (form.name.value.trim().length == 0) {
                toastWarning("구장명을 작성해주세요.");
                form.name.focus();
                return;
            }

            if (form.location.value.trim().length == 0) {
                toastWarning("지역을 작성해주세요.");
                form.location.focus();
                return;
            }

            if (form.price.value.trim().length == 0) {
                toastWarning("이용료를 작성해주세요.");
                form.price.focus();
                return;
            }

            if (form.openTime.value.trim().length == 0) {
                toastWarning("영업 시작 시간을 작성해주세요.");
                form.openTime.focus();
                return;
            }

            if (form.closeTime.value.trim().length == 0) {
                toastWarning("영업 종료 시간을 작성해주세요.");
                form.closeTime.focus();
                return;
            }

            if (form.courtCount.value.trim().length == 0) {
                toastWarning("구장 수를 작성해주세요.");
                form.courtCount.focus();
                return;
            }

            if (form.registNum.value.trim().length == 0) {
                toastWarning("사업자 등록 번호를 작성해주세요.");
                form.registNum.focus();
                return;
            }

            form.submit();
        }
    </script>

    <div class="max-w-2xl w-full px-4 mb-20">
        <p class="text-2xl font-black my-10 text-center">구장 등록</p>
        <form th:action="@{/field/create}" th:object="${FutsalFieldRegistrationDto}" method="POST"
              onsubmit="Validation__createField(this); return false;">
            <input type="text" id="name" name="name" placeholder="구장명을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="location" placeholder="위치를 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="price" placeholder="가격을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="time" name="openTime" placeholder="영업 시작 시간을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="time" name="closeTime" placeholder="영업 종료 시간을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="courtCount" placeholder="구장 수를 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="registNum" placeholder="사업자 등록 번호를 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <button type="submit" class="btn btn-error w-full mt-12">등록</button>
        </form>
    </div>


    <!--<h1 style="text-align: center">구장 등록</h1>-->
    <!--<form th:object="${createForm}" th:action="@{/field/create}" method="POST" enctype="multipart/form-data">-->

    <!--    <div class="card">-->
    <!--      <label>이름</label>-->
    <!--      <input type="text" name="name" required><br>-->

    <!--      <label>위치</label>-->
    <!--      <input type="text" name="location" required><br>-->

    <!--      <label>가격</label>-->
    <!--      <input type="number" name="price" required><br>-->

    <!--      <label>영업 시작 시간</label>-->
    <!--      <input type="time" name="openTime" required><br>-->

    <!--      <label>영업 종료 시간</label>-->
    <!--      <input type="time" name="closeTime" required><br>-->

    <!--      <label>구장 개수</label>-->
    <!--      <input type="number" name="count" required><br>-->

    <!--      <label>등록번호</label>-->
    <!--      <input type="text" name="registNum" required><br>-->

    <!--&lt;!&ndash;      <label for="images" style="text-align: left">구장 이미지 업로드</label>&ndash;&gt;-->
    <!--&lt;!&ndash;      <input type="file" class="file-input w-full max-w-xs" id="images" name="images" multiple><br><br>&ndash;&gt;-->

    <!--      <div class="card-body d-flex flex-row" style="align-items: flex-end; margin: 0 auto">-->

    <!--&lt;!&ndash; !!!!!!!!!!!!!!!!한솔님 여기 action 태그 값 바꿔주셔야해요!!&ndash;&gt;-->
    <!--        <form th:action="@{/matches/name}" method="get">-->
    <!--          <button class="submit-button" onclick="showSuccessMessage()" id="registBtn" style="background-color: #ff595e; margin-bottom: 10px; margin-right: 10px" >등록하기</button>-->
    <!--        </form>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</form>-->
    <!--    <script>-->
    <!--        function showSuccessMessage() {-->
    <!--            toastNotice("입력하신 시설이 등록되었습니다.")-->
    <!--        }-->
    <!--    </script>-->
</main>
</body>
</html>