<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>구장 등록</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function Validation__createField(form) {
            form.name = document.getElementById("name").value;

            if (form.name.value.trim().length == 0) {
                toastWarning("구장명을 작성해주세요.");
                form.name.focus();
                return;
            }

            if (form.location.value.trim().length == 0) {
                toastWarning("지역을 작성해주세요.");
                form.location.focus();
                return;
            }

            if (form.price.value.trim().length == 0) {
                toastWarning("이용료를 작성해주세요.");
                form.price.focus();
                return;
            }

            if (form.openTime.value.trim().length == 0) {
                toastWarning("영업 시작 시간을 작성해주세요.");
                form.openTime.focus();
                return;
            }

            if (form.closeTime.value.trim().length == 0) {
                toastWarning("영업 종료 시간을 작성해주세요.");
                form.closeTime.focus();
                return;
            }

            if (form.courtCount.value.trim().length == 0) {
                toastWarning("구장 수를 작성해주세요.");
                form.courtCount.focus();
                return;
            }

            if (form.registNum.value.trim().length == 0) {
                toastWarning("사업자 등록 번호를 작성해주세요.");
                form.registNum.focus();
                return;
            }

            form.submit();
        }
    </script>

    <div class="max-w-2xl w-full px-4 mb-20">
        <p class="text-2xl font-black my-10 text-center">구장 등록</p>
        <form th:action="@{/field/create}" th:object="${FutsalFieldRegistrationDto}" method="POST"
              onsubmit="Validation__createField(this); return false;">
            <input type="text" id="name" name="name" placeholder="구장명을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <select name="bigDistrict" class="input input-bordered w-full mt-12">
                <option th:each="district : ${bigDistricts}" th:value="${district}" th:text="${district}"></option>
            </select>

            <input type="text" name="price" placeholder="가격을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="time" name="openTime" placeholder="영업 시작 시간을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="time" name="closeTime" placeholder="영업 종료 시간을 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="courtCount" placeholder="구장 수를 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <input type="text" name="registNum" placeholder="사업자 등록 번호를 입력하세요"
                   class="input input-bordered w-full mt-12"/>

            <button type="submit" class="btn btn-outline btn-success w-full mt-12">등록</button>
        </form>
    </div>

</main>
</body>
</html>