<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main" class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">505</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">죄송합니다 잠시후에 다시 이용해주세요</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/" class="btn btn-outline btn-error">Go back home</a>
        </div>
    </div>
</main>
</body>
</html>