<!DOCTYPE html>
<html>
<head>
    <title>Filter Page</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            const getQueryParam = (name) => {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            };

            // url에서 msg 파라미터를 받아와 alert 창 띄우기
            const msg = getQueryParam('msg');
            if (msg) {
                alert(msg);
            }

            // Datepicker 설정
            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 0,
                showButtonPanel: true,
                closeText: "Close",
                currentText: "Today",
                onSelect: (dateText, inst) => console.log("Selected date: " + dateText)
            });

            $("#startDatePickerButton").click(function () {
                $("#startDate").datepicker("show");
            });

            $("#location").change(function () {
                const location = $(this).val();
                window.location.href = location ? `/match/filter?fieldLocation=${location}` : "/match/filter";
            }).val(getQueryParam('fieldLocation'));

            const fields = JSON.parse(`<th:block th:utext="${fields}"></th:block>`);

            const updateStartAndFinishTimes = (selectedField) => {
                ["startTime", "finishTime"].forEach((timeType) => {
                    let timeSelect = $(`#${timeType}`).empty().append(`<option value=''>Select ${timeType.split('T')[0]} time</option>`);

                    if (selectedField) {
                        for (let currentTime = selectedField.openTime; currentTime <= selectedField.closeTime; currentTime.setMinutes(currentTime.getMinutes() + 30)) {
                            timeSelect.append(`<option value='${currentTime}'>${currentTime}</option>`);
                        }
                    }
                });
            };

            $("#location").change(function () {
                let location = $(this).val();
                let filteredFields = fields.filter(field => field.fieldLocation === location);
                let venueDropdown = $("#venue").empty().append("<option value=''>Select venue</option>");

                for (let field of filteredFields) {
                    venueDropdown.append(`<option value="${field.fieldName}">${field.fieldName}</option>`);
                }

                updateStartAndFinishTimes(null);
            });

            $("#venue").change(function () {
                let selectedFieldName = $(this).val();
                let selectedField = selectedFieldName ? fields.find(field => field.fieldName === selectedFieldName) : null;
                updateStartAndFinishTimes(selectedField);
            });
        });
    </script>

</head>
<body>
<!-- Usage messages -->
<div th:if="${message}" th:text="${message}" style="color:red;"></div>

<h1>조건 페이지</h1>

<!-- 시작월일 정보 입력 폼 -->
<form method="post" action="/match">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="matchDate" readonly/>
        <button type="button" id="startDatePickerButton">Select Date</button>
    </div>
    <div>
        <label for="location">fieldLocation:</label>
        <select id="location">
            <option value="">Select location</option>
            <option value="서울">서울</option>
            <option value="수원">수원</option>
            <option value="포항">포항</option>
            <option value="울산">울산</option>
            <option value="강원도">강원도</option>
        </select>
    </div>

    <div>
        <label for="venue">stadium:</label>
        <select id="venue" name="stadium">
            <option value="">Select venue</option>
            <th:block th:each="field : ${fields}" th:if="${selectedLocation eq field.fieldLocation}">
                <option th:value="${field.fieldName}" th:text="${field.fieldName}"></option>
            </th:block>
        </select>
    </div>

    <!-- StartTime and FinishTime -->
    <div>
        <label for="startTime">Start Time:</label>
        <select id="startTime" name="startTime"></select>
    </div>
    <div>
        <label for="finishTime">Finish Time:</label>
        <select id="finishTime" name="finishTime"></select>
    </div>

    <!-- 빠른 매칭 버튼 -->
    <button type="submit">빠른 매칭!</button>
</form>
</body>
</html>