<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting</title>
    <!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">-->
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 mb-20 min-h-screen">
        <p class="text-2xl font-black my-10 text-center">매칭 대기중</p>
        <th:block th:each="match : ${matches}">
            <div class="card w-full bg-base-100 shadow-xl mt-5">
                <div class="card-body">
                    <div class="card-actions justify-between">
                        <p class="card-title" th:text="${match.stadium}">Stadium</p>
                        <h5 class="card-text match-date"><span th:text="${match.matchDate}">날짜</span></h5>
                    </div>
                    <p class="card-text mb-1">이용 시간: <span th:text="${match.usageTime}">이용 시간</span></p>
                    <p class="card-text mb-1">장소: <span th:text="${match.fieldLocation}">장소</span></p>
                    <p class="card-text mb-1">참가자 수: <span th:text="${match.participantCount}">참가자 수</span></p>
                    <div class="card-actions justify-end">
                        <form th:action="@{/match/cancel}" method="post">
                            <input type="hidden" th:value="${match.id}" name="matchId"/>
                            <button type="submit" class="btn btn-outline btn-error">취소하기</button>
                        </form>
                        <form th:action="@{'/match/pay/' + ${match.id}}" method="get"
                              th:if="${match.participantCount >= 10 and match.getProgressStatus() == '1'}">
                            <input type="hidden" th:value="${match.id}"/>
                            <button type="submit" class="btn btn-outline btn-success">결제하기</button>
                        </form>

                        <form th:action="@{/match/confirm}" method="post"
                              th:if="${match.participantCount >= 10 and match.getProgressStatus() == '0'}">
                            <input type="hidden" th:value="${match.id}" name="matchId"/>
                            <button type="submit" class="btn btn-outline btn-success">확정하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</main>
</body>
</html>
